asgiref==3.4.1
blinker==1.4
brotli==1.0.9
ca_certs_locater==1.0
ConfigParser==5.0.2
cryptography==35.0.0
Cython==0.29.24
Django==3.2.8
dl==0.1.0
docutils==0.18
fasteners==0.16.3
gevent==21.8.0
greenlet==1.1.2
HTMLParser==0.0.2
importlib_metadata==4.8.1
ipython==7.29.0
jnius==1.1.0
jsonpickle==2.0.0
keyring==23.2.1
lockfile==0.12.2
lxml==4.6.3
mock==4.0.3
numpy==1.21.3
ordereddict==1.1
protobuf==3.19.1
pycryptodome==3.11.0
pyOpenSSL==21.0.0
simplejson==3.17.5
toml==0.10.2
tornado==6.1
typing_extensions==3.10.0.2
unicodedata2==13.0.0.post2
watchdog==2.1.6
webapp2==2.5.2
xmlrpclib==1.0.1
zipp==3.6.0
